
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel" style="overflow: visible;">
            <div class="pull-left image">
                <img src="images/anon.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p style="margin-bottom: 0; padding-bottom: 0;">
                    <span id="agentname-sidebar">Franklin Pierce</span>
                </p>
                <span id="status-dropdown" class="dropdown dropdown-menu-left">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        <span>
                            <i id="status-icon" class="fa fa-circle text-yellow currently-away"></i>
                        </span>&nbsp;&nbsp;&nbsp;
                        <span id="user-status">Away</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li onclick="pauseQueues();">
                            <a href="#">
                                <i id="away-icon" class="fa fa-circle text-yellow away-color"></i>
                                <span>Away</span>
                            </a>
                        </li>
                        <li onclick="unpauseQueues();">
                            <a href="#">
                                <i id="ready-icon" class="fa fa-circle text-green ready-color"></i>
                                <span>Ready</span>
                            </a>
                        </li>
                    </ul>
                </span>
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li>
                <a href="#">
                    <i class="fa fa-desktop"></i>
                    <span id="nav-desktop">AD Desktop</span>
                </a>
            </li>
            <li id="sidebar-queues" class="header">
                <span id="nav-desktop">QUEUES</span>
            </li>

            <li id="sidebar-geninfo" onclick="$('#geninfoanchor').click()" hidden>
                <a href="#">
                    <i class="fa fa-question-circle"></i>
                    <span>General Info</span>
                    <span>
                        <small id="general-queue-num" class="label pull-right bg-md-gray" ;>0</small>
                    </span>
                    <span id="geninfoInCall" hidden>
                        <small class="label pull-right bg-red" style="margin-top: 3px;">in call</small>
                    </span>
                </a>
            </li>
            <li id="sidebar-complaints" onclick="$('#complaintsanchor').click()" hidden>
                <a href="#">
                    <i class="fa fa-thumbs-down"></i>
                    <span>Complaints</span>
                    <span>
                        <small id="complaints-queue-num" class="label pull-right bg-md-gray" ;>0</small>
                    </span>
                    <span id="complaintsInCall" hidden>
                        <small class="label pull-right bg-red" style='margin-top: 3px;'>in call</small>
                    </span>
                </a>
            </li>
            <li class="header">TOOLS</li>

            <li id="sidebar-dialpad">
                <a href="#" onclick="showDialpad()">
                    <i class="fa fa-video-camera"></i>
                    <span>Dial Pad</span>
                </a>

            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>