<div class="modal fade" id="modalWrapup" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Wrap Up</h4>
            </div>
            <div class="modal-body">
                <p>The call has ended. You are currently in a <span id='wrapup-color'><b>Wrap Up</b></span> state. You may return to a <span id='ready-color'><b>Ready</b></span> or <span id='away-color'><b>Away</b></span> state, or just dismiss this window.</p>
            </div>
            <div class="modal-footer">
                <button type="button" id = "ready-btn" class="btn" onclick="finished(1);">Return to Ready</button>
                <button type="button" id="away-btn" class="btn" onclick="finished(0);">Return to Away</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
