<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>ACE Direct</title>
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


<!-- ================================ stylesheets ================================ -->
<!-- Bootstrap 3.3.5 -->
<link rel="stylesheet" href="./bower_components/AdminLTE/bootstrap/css/bootstrap.css">
<!-- Bootstrap Toggle v2.2.0 -->
<link rel="stylesheet" href="./bower_components/bootstrap-toggle/css/bootstrap-toggle.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="./bower_components/font-awesome/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="./bower_components/Ionicons/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="./bower_components/AdminLTE/dist/css/AdminLTE.css">
<!-- AdminLTE Skins  -->
<link rel="stylesheet" href="./bower_components/AdminLTE/dist/css/skins/_all-skins.min.css">
<!-- Custom Portal stylesheet -->
<link rel="stylesheet" href="./css/ca-portal.css">
<!-- GridStack -->
<link rel="stylesheet" href="./bower_components/gridstack/dist/gridstack.min.css" />

<!-- ================================ javascript ================================ -->
<!-- jQuery v2.1.4 -->
<script src="./bower_components/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- jQuery UI - v1.11.4 -->
<script src="./bower_components/AdminLTE/plugins/jQueryUI/jquery-ui.min.js"></script>
<!-- socket.io-client -->
<script type="text/javascript" src="./socket.io/socket.io.js"></script>
<!-- Bootstrap 3.3.5 -->
<script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
<!-- Decode JWT tokens -->
<script type="text/javascript" src="./bower_components/jwt-decode/build/jwt-decode.min.js"></script>
<!-- timer.jquery 0.6.3 -->
<script type="text/javascript" src='./bower_components/timer.jquery/dist/timer.jquery.min.js'></script>
<!-- moment.js 2.15.1 -->
<script type="text/javascript" src='./bower_components/moment/moment.js'></script>
<script type="text/javascript" src="./bower_components/AdminLTE/plugins/input-mask/jquery.inputmask.js"></script>
<!-- AdminLTE App -->
<script src="./bower_components/AdminLTE/dist/js/app.min.js"></script>
<!-- DataTables 1.10.12 -->
<script type="text/javascript" src="./bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<!-- JSSIP-->
<script type="text/javascript" src="./bower_components/jssip/dist/jssip.min.js"></script>
<script>
    var complaintForm = false; //What is this?
</script>
<!-- GridStack -->
<script src="./bower_components/lodash/dist/lodash.min.js"></script>
<script src="./bower_components/gridstack/dist/gridstack.min.js"></script>
<script src="./bower_components/gridstack/dist/gridstack.jQueryUI.min.js"></script>
<!-- Custom Javascript for ACEDirect index.html page-->
<script type="text/javascript" src="./js/myJssip.js"></script>
<script type="text/javascript" src="./js/busylight.js"></script>
<script type="text/javascript" src="./js/acedirect.js"></script>