<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>ACE Direct</title>
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


<!-- ================================ stylesheets ================================ -->
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/bootstrap-toggle.css">
<link rel="stylesheet" href="/assets/css/font-awesome.min.css">
<link rel="stylesheet" href="/assets/css/ionicons.min.css">
<link rel="stylesheet" href="/assets/css/AdminLTE.min.css">
<link rel="stylesheet" href="/assets/css/skin-purple.min.css">
<link rel="stylesheet" href="/css/dd.css">
<link rel="stylesheet" href="/css/ca-portal.css">
<link rel="stylesheet" href="/css/video-player.css">
<!-- GridStack -->
<link rel="stylesheet" href="/assets/css/gridstack.min.css" />
