<aside class="main-sidebar elevation-4 sidebar-dark-purple sidebar-no-expand">
    <!-- Logo -->
    <a href="" class="brand-link navbar-purple logo-switch">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-xs">
            <b>ACE</b>
        </span>
        <!-- logo for regular state and mobile devices -->
        <span class="brand-text font-weight-light">
            <b>ACE</b>&nbsp;
            <span id="logo-text">Direct</span>
        </span>
    </a>

    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/images/anon.png" class="img-circle elevation-2 pt-2" id="sidebar-user-image" alt="User Image">
            </div>
            <div class="info">
                <a id="agentname-sidebar"></a>
                <div id="status-dropdown" class="dropdown">
                    <div>
                        <button class="btn btn-primary dropdown-toggle" type="button" id="statusDropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                            <i id="status-icon" class="fa fa-circle text-yellow currently-away"></i>
                            <span id="user-status">Away</span>
                            <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu dropdown-dark" aria-labelledby="statusDropdownMenuButton">
                            <li onclick="pauseQueues();">
                                <a href="#">
                                    <i id="away-icon" class="fa fa-circle text-yellow away-color"></i>
                                    <span>Away</span>
                                </a>
                            </li>
                            <li onclick="unpauseQueues();">
                                <a href="#">
                                    <i id="ready-icon" class="fa fa-circle text-green ready-color"></i>
                                    <span>Ready</span>
                                </a>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar text-sm flex-column">
                <li class="nav-header">MAIN NAVIGATION</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-desktop nav-icon"></i>
                        <p>AD Desktop</p>
                    </a>
                </li>
                <li class="nav-header">QUEUES</li>
                <li id="sidebar-geninfo" class="nav-item" onclick="$('#geninfoanchor').click()" hidden>
                    <a href="#" class="nav-link">
                        <i class="fas fa-question-circle nav-icon"></i>
                        <p>
                            General Info
                            <span id="general-queue-num" class="badge bg-md-gray right">0</span>
                        </p>
                        <p id="geninfoInCall" hidden>
                            <span class="badge right btn-red" style="margin-top: 3px;">in call</span>
                        </p>
                    </a>
                </li>
                <li id="sidebar-complaints" class="nav-item" onclick="$('#complaintsanchor').click()" hidden>
                    <a href="#" class="nav-link">
                        <i class="fas fa-thumbs-down nav-icon"></i>
                        <p>
                            Complaints
                            <span id="complaints-queue-num" class="badge bg-md-gray right">0</span>
                        </p>

                        <p id="complaintsInCall" hidden>
                            <span class="badge right btn-red" style='margin-top: 3px;'>in call</span>
                        </p>
                    </a>
                </li>
                <li class="nav-header">TOOLS</li>
                <li class="nav-item" id="sidebar-dialpad">
                    <a href="#" class="nav-link" onclick="showDialpad()">
                        <i class="fas fa-video nav-icon"></i>
                        <p>Dial Pad</p>
                    </a>
                </li>

                <li class="nav-header config-hide">Caption Settings</li>
                <li id="cap-font-size" class="cap-setting config-hide nav-item">
                    <span>Font size:</span>
                    <form role="form">
                        <div class="form-group">
                            <div class="ml-auto">
                                <select class="form-control" id="captionSizeSelect">
                                    <option value="2">Default</option>
                                    <option value="1.5">Small</option>
                                    <option value="2.8">Large</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </li>
                <li id="cap-font-color" class="cap-setting config-hide nav-item">
                    <span>
                        Font color:
                    </span>
                    <div class="color-select-container">
                        <div id="font-grey" class="color-select" onclick="changeCaption(this.id)"></div>
                        <div id="font-black" class="color-select" onclick="changeCaption(this.id)"></div>
                        <div id="font-white" class="color-select" onclick="changeCaption(this.id)"></div>
                    </div>
                </li>
                <li id="cap-bg-color" class="cap-setting config-hide nav-item">
                    <span>Background color:</span>
                    <div class="color-select-container">
                        <i id="bg-transparent" class="far fa-times-circle"></i>
                        <div id="bg-grey" class="color-select" onclick="changeCaption(this.id)"></div>
                        <div id="bg-black" class="color-select" onclick="changeCaption(this.id)"></div>
                        <div id="bg-white" class="color-select" onclick="changeCaption(this.id)"></div>
                    </div>
                    <input type="range" min="0" max="1" step=.01 value="1" id="opacity-slider-agent">
                </li>
                <li class="nav-header config-hide">Camera Options</li>
                <li id="cap-font-size" class="cap-setting config-hide nav-item">
                    <span>Enable / Disable Self-View</span><input id="persistCameraCheck" type="checkbox" checked>
                </li>
            </ul>
            <div id="demo-btn-container" class="config-hide">
                <a id="demo-btn" href="#" onclick="testCaptions()">Preview</a>
            </div>
        </nav>
    </div>
</aside>
