<div class="modal fade" id="modalWrapup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Wrap Up</h4>
            </div>
            <div class="modal-body">
                <p>The call has ended. You are currently in a <span class='text-light-blue'><b>Wrap Up</b></span> state. Once you finish up with wrap up click the button below to return a <span class='text-green'><b>Ready</b></span> state</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="finished(1);">Return to Ready</button>
                <button type="button" class="btn btn-warning" onclick="finished(0);">Return to Away</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
