
.container-fluid {
  color: white;
     text-align: center;
     background-color: #2d8ece;
}
.row h3 {
     color: white;
     text-align: center;
     background-color: #2d8ece;
}
.btn-gray
{
   background-color: #DDDDDD;
   width: 105px;
}

.btn-gray:hover
{
   background-color: #C4C4C4;
}

.margin{
	margin-top:30px;
	margin-bottom:5px;
}

.remoteView{
  background-color:#000000;
  object-fit:fill;
}
/* Set the width of the videophone number input group to be around the same length as the label text above it */
#input-group {
   width: 288px;
}

/* Override admin lte alert danger css */
.alert-danger {
   color: #721c24;
   background-color: #f8d7da;
   border-color: #f5c6cb;
}

