
.container-fluid {
  color: white;
     text-align: center;
     background-color: #2d8ece;   
}
.row h3 {
     color: white;
     text-align: center;
     background-color: #2d8ece;
}
.btn-gray
{
   background-color: #DDDDDD;
   width: 105px;
}

.btn-gray:hover
{
   background-color: #C4C4C4;
}

.margin{
	margin-top:30px;
	margin-bottom:5px;
}

.remoteView{
  background-color:#000000;
  object-fit:fill;
}

