
.container-fluid {
  color: white;
     text-align: center;
     background-color: #2d8ece;   
}
.row h3 {
     color: white;
     text-align: center;
     background-color: #2d8ece;
}
.btn-gray
{
   background-color: #DDDDDD;
}

.btn-gray:hover
{
   background-color: #C4C4C4;
}




