<div class="box nav-tabs-custom" id="scriptscontainer">
    <!-- Tabs within a box -->
    <ul class="nav nav-tabs pull-right">
        <li>
            <a href="#complaint-scripts-tab" data-toggle="tab" aria-expanded="true">Complaint</a>
        </li>
        <li class="active">
            <a href="#general-scripts-tab" data-toggle="tab" aria-expanded="false">General</a>
        </li>
        <li class="pull-left header">
            <i class="fa fa-pencil"></i>Scripts</li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane" id="complaint-scripts-tab">
            <h3 class="text-center">Complaint Scripts</h3>
            <!--select id="complaints_scripts_type" class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                            
                                        </select-->
            <div class="form-group">
                <label>Script Content</label>
                <textarea id="complaints_script_content" class="form-control" rows="10" placeholder="Enter ..."></textarea>
            </div>
        </div>
        <div class="tab-pane active" id="general-scripts-tab">
            <h3 class="text-center">General Info. Scripts</h3>
            <div class="form-group">
                <label>Script Content</label>
                <textarea id="info_script_content" class="form-control" rows="10" placeholder="Enter ..."></textarea>
            </div>
        </div>
    </div>
</div>