<div class="modal fade" id="modalWrapup">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Wrap Up</h4>
            </div>
            <div class="modal-body">
                <p>The call has ended. You are currently in a <span class='text-light-blue'><b>WRAP UP</b></span> state. Once you finish up with wrap up click the button below to return a <span class='text-green'><b>ready</b></span> state</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="finished();">Return to Ready</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>