<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ACE Direct</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="./bower_components/AdminLTE/bootstrap/css/bootstrap.css">
    <!-- Bootstrap Toggle v2.2.0 -->
    <link rel="stylesheet" href="./bower_components/bootstrap-toggle/css/bootstrap-toggle.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="./bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="./bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="./bower_components/AdminLTE/dist/css/AdminLTE.css">
    <!--link rel="stylesheet" href="./custom/AdminLTE/dist/css/AdminLTE.css"-->
    <!-- AdminLTE Skins  -->
    <link rel="stylesheet" href="./bower_components/AdminLTE/dist/css/skins/_all-skins.min.css">
    <!-- Custom Portal stylesheet -->
    <link rel="stylesheet" href="./css/ca-portal.css">
    <!-- GridStack -->
    <link rel="stylesheet" href="./bower_components/gridstack/dist/gridstack.min.css" />
</head>

<body class="hold-transition skin-purple sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>ACE</b></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>ACE</b>&nbsp;<span id="logo-text">Direct</span></span>
            </a>

            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div id="agentStatusInfo" class="col-lg-2 col-md-2 col-sm-2 col-lg-offset-2 col-md-offset-2" style="white-space:nowrap;">
                    <label class="control-label">Call Duration: </label>&nbsp;&nbsp;<span id="duration" class="text-light-gray">0 sec</span>
                </div>
                <div class="pull-right">
                    <button id="assistanceBtn" type="button" class="btn btn-danger" onclick="requestAssistance()">Get Help</button>
                </div>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="bower_components/AdminLTE/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs" id="agentname-header"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="bower_components/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        <span id="agentname-headerdropdown"></span>
                                        <br>
                                        <span id="agentrole-headerdropdown"></span>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat" onclick="logout()">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
						<li>
							<a href="#" id="mail-btn" data-toggle="control-sidebar" onClick="showVideoMailTab()">
								<i class="fa fa-envelope-o"></i><span class="label label-danger" id="unread-mail-count"></span>
							</a>
                        </li> 
                        <li>
                            <a href="#" data-toggle="modal" data-target="#licModal"><i class="fa fa-info-circle"></i></a>
                        </li>
                        <li>
                          <a href="#" id="agents-btn" data-toggle="control-sidebar" onClick="showAgentsTab()"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel" style="overflow: visible;">
                  <div class="pull-left image">
                      <img src="bower_components/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                  </div>
                  <div class="pull-left info">
                    <p style="margin-bottom: 5px;"><span id="agentname-sidebar">Franklin Pierce</span></p>
                    <span id = "status-dropdown" class="dropdown dropdown-menu-left">
                      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        <span><i id="status-icon" class="fa fa-circle text-yellow currently-away"></i></span>&nbsp;&nbsp;&nbsp;
                        <span id="user-status">Away</span>
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                         <li onclick="pauseQueues();"><a href="#"><i id ="away-icon" class="fa fa-circle text-yellow"></i> <span>Away</span></a></li>
                         <li onclick="unpauseQueues();"><a href="#"><i id = "ready-icon" class="fa fa-circle text-green"></i> <span>Ready</span></a></li>
                      </ul>
                    </span>
                  </div>
                </div>
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>
                    <li>
                        <a href="#">
                            <i class="fa fa-desktop"></i> <span id="nav-desktop">AD Desktop</span>
                        </a>
                    </li>
                    <li id="sidebar-queues" class="header"><span id="nav-desktop">QUEUES</span></li>
                   
                    <li id="sidebar-geninfo" onclick="$('#geninfoanchor').click()" hidden>
                        <a href="#">
                            <i class="fa fa-question-circle"></i>
                            <span>General Info</span>
                            <span id="geninfoInCall" class="pull-right-container" hidden>
									<small class="label pull-right bg-red">in call</small>
								</span>
                        </a>
                    </li>
                     <li id="sidebar-complaints" onclick="$('#complaintsanchor').click()" hidden>
                        <a href="#">
                            <i class="fa fa-thumbs-down"></i>
                            <span>Complaints</span>
                            <span id="complaintsInCall" class="pull-right-container" hidden>
                                    <small class="label pull-right bg-red">in call</small>
                                </span>
                        </a>
                    </li>

                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1 id="section-header">AD Desktop</h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-desktop"></i> Home</a></li>
                    <li class="active" id="breadcrumb-header">AD Desktop</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="grid-stack">
                    <!-- VideoBox -->
                    <div class="grid-stack-item" data-gs-x="0" data-gs-width="6" data-gs-height="4" id='Videobox'>
                        <div class="grid-stack-item-content">
                            <div class="box" id="VideoBox">
                                <div class="box-header with-border">
                                    <i class="fa fa-video-camera"></i>
                                    <h3 class="box-title">Video</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                            </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div id="webcam" >      
                                        <video id="remoteView" autoplay poster="images/AD-logo.png"></video>        
                                        <video style="right: 11px;" id="selfView" autoplay muted="true" hidden></video>  
                                </div>
                                    <div id= "call-option-buttons">     
                                        <div id= "inner">     
                                            <button  id="mute-audio" type = "button" class = "btn btn-gray" onclick = "mute_audio()"> <i id= "mute-audio-icon" class="call-btn-icon fa fa-microphone"></i> </button> 
                                            <button  id="hide-video" type = "button" class = "btn btn-gray" onclick = "hide_video()"> <i class="call-btn-icon fa fa-video-camera"></i>  <div id= "hide-video-icon" class = "fa fa-close fa-close-style" style="display: none;"></div> <!-- hack for hide video button since there's no fa-icon for it. we overlay an x and hide and show it when needed--></button>  
                                            <button type="button" class = "btn btn-gray" onclick = "enterFullscreen()"><i id= "fullscreen-icon" class="call-btn-icon fa fa-expand"></i> </button>														 
                                            <button id="end-call" type = "button" class = "btn btn-danger" onclick = "terminate_call()"> <i class="call-btn-icon fa fa-phone fa-rotate-135"></i> </button> 
                                        </div>
                                    </div>
                                    <div id= "videomail-status-buttons">
                                        <div id= "inner-videomail">
                                            <button  id="play-video" type = "button" class = "btn btn-gray" onclick = "play_video()"> <i id= "play-video-icon" class="call-btn-icon fa fa-play"></i> </button>
                                            <span id="vmail-current-time" class="text-gray">0:00</span>
                                            <input type="range" id="seek-bar" value="0" disabled />
                                            <span id="vmail-total-time" class="text-gray">1:30</span>
                                            <button type="button" class = "btn btn-gray" onclick = "enterFullscreen()"><i id= "fullscreen-icon" class="call-btn-icon fa fa-expand"></i> </button>
                                            <span id = "videomail-status-dropdown" class="dropdown dropdown-menu-left">
                                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                                                <span><i id="status-icon" class="call-btn-icon fa fa-envelope"></i></span>&nbsp;&nbsp;&nbsp;
                                                <span id="user-status" >Mark as...</span>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li onclick="videomail_status_change(document.getElementById('videomailId').getAttribute('name'),'UNREAD')"><a href="#"><span>Unread</span></a></li>
                                                <li onclick="videomail_status_change(document.getElementById('videomailId').getAttribute('name'),'READ')"><a href="#"><span>Read</span></a></li>
                                                <li onclick="videomail_status_change(document.getElementById('videomailId').getAttribute('name'),'IN PROGRESS')"><a href="#"><span>In Progress</span></a></li>
                                                <li onclick="videomail_status_change(document.getElementById('videomailId').getAttribute('name'),'CLOSED')"><a href="#"><span>Closed</span></a></li>
                                                <li onclick="videomail_deleted(document.getElementById('videomailId').getAttribute('name'))"><a href="#"><span>Deleted</span></a></li>
                                            </ul>
                                            </span>
                                            <button id="exit-btn" class="btn btn-primary" type="button" onclick="stopVideomail()">Exit Videomail</button>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- User Chat -->
                    <div class="grid-stack-item" data-gs-x="7" data-gs-width="6" data-gs-height="5" id='UserChatBox'>
                        <div class="grid-stack-item-content">
                            <div class="box direct-chat direct-chat-primary" id="userchat">
                                <div class="box-header with-border">
                                    <i class="fa fa-comments"></i>
                                    <h3 class="box-title">User Chat</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                            </button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <!-- Conversations are loaded here -->
                                    <div class="direct-chat-messages" id="chat-messages"></div>
                                    <div class="direct-chat-timestamp text-bold" id="rtt-typing" style="margin-left: 10px; min-height: 20px"></div>
                                </div>
                                <div class="box-footer">
                                    <form name="chatsend" id="chatsend">
                                        <div class="input-group">
                                            <input type="hidden" id="displayname">
                                            <input type="text" id="newchatmessage" placeholder="Type Message ..." class="form-control" autocomplete="off" required>
                                            <span class="input-group-btn">
                                                    <button  class="btn btn-primary btn-flat" type="submit">Send</button>
                                                </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Scripts -->
                    <div class="grid-stack-item" data-gs-x="0" data-gs-width="6" data-gs-height="5" id='Scriptsbox'>
                        <div class="grid-stack-item-content">
                            <div class="box nav-tabs-custom" id="scriptscontainer">
                                <!-- Tabs within a box -->
                                <ul class="nav nav-tabs pull-right">
                                    <li><a href="#complaint-scripts-tab" data-toggle="tab" aria-expanded="true">Complaint</a></li>
                                    <li class="active"><a href="#general-scripts-tab" data-toggle="tab" aria-expanded="false">General</a></li>
                                    <li class="pull-left header"><i class="fa fa-pencil"></i>Scripts</li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane" id="complaint-scripts-tab">
                                        <h3 class="text-center">Complaint Scripts</h3>
                                        <!--select id="complaints_scripts_type" class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                            
                                        </select-->
                                        <div class="form-group">
                                            <label>Script Content</label>
                                            <textarea id="complaints_script_content" class="form-control" rows="10" placeholder="Enter ..."></textarea>
                                        </div>
                                    </div>
                                    <div class="tab-pane active" id="general-scripts-tab">
                                        <h3 class="text-center">General Info. Scripts</h3>
                                        <div class="form-group">
                                            <label>Script Content</label>
                                            <textarea id="info_script_content" class="form-control" rows="10" placeholder="Enter ..."></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Call Details -->																					
                    <div class="grid-stack-item" data-gs-x="7" data-gs-width="6" data-gs-height="6" id="CallDetailsbox">
                        <div class="grid-stack-item-content">
                            <div class="box nav-tabs-custom" id="CallinfoBox">
                                <!-- Tabs within a box -->
                                <ul class="nav nav-tabs pull-right">
                                    <li id="ticketTab"><a id="ticketTabTitle" href="#ticketinfo" data-toggle="tab" aria-expanded="true">Ticket Info.</a></li>
                                    <li class="active"><a href="#vrsinfo" data-toggle="tab" aria-expanded="false">VRS Info.</a></li>
                                    <li class="pull-left header"><i class="fa fa-info-circle"></i>Call Details
                                        <small id="notickettxt" class="text-danger" hidden>(no ticket)</small>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div class="tab-pane active" id="vrsinfo">
                                        <form name="userform" id="userform" autocomplete="off">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label class="control-label">First Name</label>
                                                        <div>
                                                            <input type="text" class="form-control" id="callerFirstName" name="fname" autocomplete="off" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label class="control-label">Last Name</label>
                                                        <input type="text" class="form-control" id="callerLastName" autocomplete="off" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="control-label">Phone</label>
                                                    <div>
                                                        <input type="text" class="form-control" id="callerPhone" name="phone" autocomplete="off" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Address</label>
                                                        <input type="text" class="form-control" id="callerAddress1" autocomplete="off" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label class="control-label">City/Town</label>
                                                        <input type="text" class="form-control" id="callerCity" autocomplete="off" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label class="control-label">State</label>
                                                        <input type="text" class="form-control" id="callerState" autocomplete="off" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label class="control-label">Zip Code</label>
                                                        <input type="text" class="form-control" id="callerZipcode" autocomplete="off" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Email</label>
                                                        <div>
                                                            <input type="email" class="form-control" id="callerEmail" name="email" autocomplete="off" required/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class = "col-lg-12">
                                                    <div class="form-group pull-right">
                                                        <input type="button" class="btn btn-danger" id="btnClear" value="Save" onclick="finished();" />
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>


                                    <div class="tab-pane" id="ticketinfo">
                                        <form name="ticketForm" id="ticketForm" autocomplete="off">
                                            <div class="row">
                                                <div class="col-lg-4 form-group">
                                                    <label class="control-label">Assignee</label>
                                                    <input type="text" class="form-control" id="assignee" autocomplete="off" />
                                                </div>
                                                <div class="col-lg-4 form-group">
                                                    <label class="control-label">Requester</label>
                                                    <input type="text" class="form-control" id="requester" autocomplete="off" />
                                                </div>
                                                <div class="col-lg-4 form-group">
                                                    <label class="control-label">Last Updated</label>
                                                    <input type="text" id="lastupdated" class="form-control" autocomplete="off" disabled/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-8 form-group">
                                                    <label class="control-label">Subject</label>
                                                    <input type="text" id="subject" class="form-control" name="subject" autocomplete="off" required/>
                                                </div>
                                                <div class="col-lg-4 form-group">
                                                    <label class="control-label">Ticket ID</label>
                                                    <input type="text" id="ticketId" class="form-control" autocomplete="off" disabled/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 form-group">
                                                    <label class="control-label text-left">Problem Description</label>
                                                    <textarea rows="3" id="problemdesc" class="form-control" name="desc" required></textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label class="control-label text-left">Resolution</label>
                                                        <textarea rows="3" id="resolution" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group pull-right">
                                                        <input type="button" class="btn btn-danger" id="btnModifyTicket" value="Save" onclick="modifyTicket()" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div id="alertPlaceholder" class="col-lg-12">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.0
            </div>
            <strong>Copyright &copy; 2017.</strong> All rights reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside id = "ctrl-sidebar" class="control-sidebar control-sidebar-dark" style="width: 500px; right:-500px">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li id="agents-tab" class="active"><a href="#control-sidebar-agents-tab" data-toggle="tab"><i class="fa fa-users"></i>&nbsp;&nbsp;Agents</a></li>
                <li id="videomail-tab"><a href="#control-sidebar-videomail-tab" data-toggle="tab"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;Video Mail</a></li>
                <li id="debugtab"><a href="#control-sidebar-debug-tab" data-toggle="tab"><i class="fa fa-bug"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Agent Status tab content -->
                <div class="tab-pane active" id="control-sidebar-agents-tab">
                    <div class="form-group">
                        <table id='agenttable' class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Status&nbsp;&nbsp;&nbsp;</th>
                                    <th>Agent</th>
                                    <th>Ext</th>
                                    <th>Queues</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <!-- /.Agent Status tab content -->

                <!-- Debug tab content -->
                <div class="tab-pane" id="control-sidebar-debug-tab">
                    <input type="button" class="btn btn-danger" id="btndbgclear" value="Clear Debug Text" onclick='cleardbgtxt();' />
                    <br>
                    <div id="dbgtxt" style='height:400px;max-height: 400px;overflow-y:scroll;'></div>
                </div>
                <!-- /.Debug tab content -->

                <!-- Mail tab content -->
                <div class="tab-pane" id="control-sidebar-videomail-tab">
                    <div class="form-group" style='height: 90vh; max-height:90vh; overflow-y:scroll;'>
                        <label>Mailbox Messages</label>
						<button type="button" class="btn btn-default" onclick="getVideomailRecs();"><i id= "refresh-icon" class="fa fa-refresh"></i></button>
						<span id = "videomail-filter-dropdown" class="dropdown dropdown-menu-left" style='float:right'>
						  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
							<!--span><i id="status-icon" class="call-btn-icon fa fa-envelope"></i></span-->&nbsp;&nbsp;&nbsp;
							<span id="videomail-filter" >Filter Messages<span>
							<span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu">
							 <li onclick="filterVideomail('ALL');"><a href="#"><span>All</span></a></li>
							 <li onclick="filterVideomail('UNREAD');"><a href="#"><span>Unread</span></a></li>
							 <li onclick="filterVideomail('READ');"><a href="#"><span>Read</span></a></li>
							 <li onclick="filterVideomail('IN PROGRESS');"><a href="#"><span>In Progress</span></a></li>
							 <li onclick="filterVideomail('CLOSED');"><a href="#"><span>Closed</span></a></li>
						  </ul>
						</span>																																																																																																													   
                        <table class="table table-hover" id="Videomail_Table">
                            <thead>
								<tr>
									<th id="vmail-video-id">Video ID <i id = "video-id-sort" class="fa fa-sort"> </i> </th>
									<th id="vmail-date">Date <i id = "video-id-sort" class="fa fa-sort"> </i></th>
									<th id="vmail-duration">Duration (sec) <i id = "video-id-sort" class="fa fa-sort"> </i></th>
									<th id="vmail-status">Status <i id = "video-id-sort" class="fa fa-sort"> </i></th>
								</tr>
							</thead>
							<tbody id = 'videomailTbody'>
							</tbody>
                        </table>
                    </div>
                </div>
                <!-- /.Mail tab content -->
            </div>
            <!-- /.Tab panes -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
        <div class="control-sidebar-bg" style="width:400px; right:-400px"></div>

    </div>
    <!-- ./wrapper -->

    <!-- Glass Panel -->
    <div id='divGlassPanel' class='glass-panel' style='visibility:hidden'></div>

    <!-- License Modal -->
    <div class="modal fade" id="licModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
                    <h4 class="modal-title" id="licModalLabel">Copyright Notices</h4>
                </div>
                <div class="modal-body">
                    <div id="licModalBody"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- VRS Input Modal -->
    <div class="modal fade" id="myVrsModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">What is your VRS Number?</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" id="ivrsmessage" hidden></div>
                    <div class="form-group">
                        <label for="usr">VRS number:</label>
                        <input type="text" class="form-control input-lg" id="ivrsnum" placeholder="VRS Number" data-inputmask="'mask': '(999) 999-9999'"
                            data-mask>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="submitvrs">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Incoming Call Modal -->
    <div id="myRingingModal" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title">Incoming call...</h2>
                </div>
                <div class="modal-body text-center">
                    <img src="images/phoneRinging.gif" alt="Phone Ringing" height="100">
                    <h2 id='myRingingModalPhoneNumber' class="modal-title text-center"></h2>																																																										 
                </div>
                <div class="modal-footer">
                    <div class = "btn-group" style="width: 100%;">
                        <button id="accept-btn" type ="button" onclick = "accept_call()" class ="btn btn-success btn-style" style="width: 50%; height: 50px;"> Accept </button>
                        <button id="decline-btn" type ="button" onclick = "terminate_call()" class ="btn btn-danger btn-style" style="width: 50%; height: 50px;"> Decline </button>																																																			
                  </div>
              </div>
               
            </div>			   
        </div>
    </div>

    <!-- Missed Call Modal -->
    <div id="myMissedCallModal" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title">Missed Call</h2>
                </div>
                <div class="modal-body text-center">
                    <img src="images/missed-call.png" alt="Missed Call" height="100">
                </div>
                <div class="modal-footer">
                    <h2 id='myMissedCallModalPhoneNumber' class="modal-title text-center"></h2>
                </div>
            </div>
        </div>
    </div>
	
	<!-- Videomail Retrieval Error Modal -->
    <div id="videomailErrorModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title">Videomail Retrieval Error</h2>
                </div>
                <div class="modal-body text-center">
					<h4 class="modal-title" id="videomailErrorBody"></h4>
																						
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- BusyLight Modal -->
    <div class="modal fade" id="busylightModal" tabindex="-1" role="dialog" aria-labelledby="busylightModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Busy Light</h4>
                </div>
                <div class="modal-body" id='busylightModalBody'>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id='busylightModalTestBtn' onclick="testLightConnection()">Test BusyLight Connection</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- Jssip hidden data -->      
    <div hidden>        
        <div id="my_sip_uri" > </div>       
        <div id="ws_servers" > </div>       
        <div id="sip_password" > </div>     
        <div id="pc_config" > </div>        
    </div>

	<!-- Videomail hidden data -->
	<div hidden>
		<div id="videomailId" > </div>
	</div>

    <div id="snackbar">Default Text</div>

    <!-- ==================Le javascript ================================ -->
    <!-- jQuery v2.1.4 -->
    <script src="./bower_components/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <!-- jQuery UI - v1.11.4 -->
    <script src="./bower_components/AdminLTE/plugins/jQueryUI/jquery-ui.min.js"></script>
    <!-- socket.io-client -->
    <script type="text/javascript" src="./socket.io/socket.io.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- Decode JWT tokens -->
    <script type="text/javascript" src="./bower_components/jwt-decode/build/jwt-decode.min.js"></script>
    <!-- timer.jquery 0.6.3 -->
    <script type="text/javascript" src='./bower_components/timer.jquery/dist/timer.jquery.min.js'></script>
    <!-- moment.js 2.15.1 -->
    <script type="text/javascript" src='./bower_components/moment/moment.js'></script>
    <script type="text/javascript" src="./bower_components/AdminLTE/plugins/input-mask/jquery.inputmask.js"></script>
    <!-- AdminLTE App -->
    <script src="./bower_components/AdminLTE/dist/js/app.min.js"></script>
    <!-- DataTables 1.10.12 -->
    <script type="text/javascript" src="./bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <!-- Custom Javascript for ACEDirect index.html page-->
    <script type="text/javascript" src="./js/busylight.js"></script>
    <script type="text/javascript" src="./js/acedirect.js"></script>
    <!-- JSSIP-->       
    <script type="text/javascript" src="./bower_components/jssip/dist/jssip.min.js"></script>
    <script>
    var complaintForm = false;
    </script>    
    <script type="text/javascript" src="./js/myJssip.js"></script>
    <!-- GridStack -->
    <script src="./bower_components/lodash/dist/lodash.min.js"></script>
    <script src="./bower_components/gridstack/dist/gridstack.min.js"></script>
    <script src="./bower_components/gridstack/dist/gridstack.jQueryUI.min.js"></script>

    <script>
        var options = {
            cellHeight: 80,
            verticalMargin: 10
        };
        var grid = $('.grid-stack').gridstack(options);

        var serializedGridData = [];
        var loadingGridLayout = false;
        
        function saveGridLayout() {
            serializedGridData = _.map($('.grid-stack > .grid-stack-item:visible'), function (el) {
                el = $(el);
                var node = el.data('_gridstack_node');
                return {
                    id: el[0].id,
                    visible: el[0].visible,
                    x: node.x,
                    y: node.y,
                    width: node.width,
                    height: node.height
                };
            });
            console.log(JSON.stringify(serializedGridData));
        };

        function loadGridLayout(layout) {
            loadingGridLayout = true;
            var grid = $('.grid-stack').data('gridstack');
            grid.batchUpdate();

            layout.forEach(function (el) {
                grid.update($('#' + el.id), el.x, el.y, el.width, el.height)
            });

            grid.commit();
            loadingGridLayout = false;
        }

        $('.grid-stack').on('change', function(event, items) {
            if (!loadingGridLayout) {
                saveGridLayout();
            }
        });
    </script>
</body>

</html>