<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Consumer Complaint Form</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

	<!-- Bootstrap 3.3.5 -->
	<link rel="stylesheet" href="/bower_components/AdminLTE/bootstrap/css/bootstrap.css">
	<!-- Bootstrap Toggle v2.2.0 -->
	<link rel="stylesheet" href="/bower_components/bootstrap-toggle/css/bootstrap-toggle.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
	<!-- Ionicons -->
	<link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="/bower_components/AdminLTE/dist/css/AdminLTE.css">
	<!-- AdminLTE Skins  -->
	<link rel="stylesheet" href="/bower_components/AdminLTE/dist/css/skins/_all-skins.min.css">
	<!-- Custom Portal stylesheet -->
	<link rel="stylesheet" href="/css/ca-portal.css">
<script>
var nginxPath = '<%= nginxPath %>';
</script>
<style>
.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0.0; }
}
</style>

</head>

<body class="hold-transition skin-blue-light layout-top-nav">

	<div class="wrapper">
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>Consumer Complaint Form</h1>

			</section>
			<!-- Main content -->
			<section class="content">
				<!-- Main Row -->
				<div class="row">
					<section class="col-lg-12">
						<div id = "vrs-info-box" class="box" hidden>
							<div class="box-header with-border">
								<h3 class="box-title">VRS Information</h3>&nbsp;<small>(<a href="/logout" id="notMyInfoLink">not my info</a>)</small>
								<div class="box-tools pull-right">
									<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
								</div>
							</div>
							<!-- /.box-header -->
							<div class="box-body">
								<div class="row">
									<div class="col-lg-3">
										<div class="form-group">
											<label class="control-label">First Name</label>
											<div>
												<input type="text" class="form-control" id="firstName" name="fname" readonly/>
											</div>
										</div>
									</div>
									<div class="col-lg-3">
										<div class="form-group">
											<label class="control-label">Last Name</label>
											<input type="text" class="form-control" id="lastName" readonly/>
										</div>
									</div>
									<div class="col-lg-3">
										<div class="form-group">
											<label class="control-label">Phone</label>
											<div id="input-group" class="input-group">
												<div class="input-group-addon">
													<i class="fa fa-phone"></i>
												</div>
												<input type="text" class="form-control" id="callerPhone" name="phone" data-inputmask="'mask': '(999) 999-9999'" data-mask
													readonly/>
											</div>
										</div>
									</div>
									<div class="col-lg-3">
										<div class="form-group">
											<label class="control-label">Email</label>
											<div id="input-group" class="input-group">
												<div class="input-group-addon">
													<i class="fa fa-envelope"></i>
												</div>
												<input type="email" class="form-control" id="callerEmail" name="email" required readonly/>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
				<div class="row">
					<!-- Left Col -->
					<section class="col-lg-4" id="ticket-section" hidden>
						<div class="box" >
							<div class="box-header with-border">
								<i class="fa fa-exclamation-triangle"></i>
								<h3 class="box-title">Complaint Ticket: </h3>
								<span class="box-title" id="ticketNumber"></span>
								<div class="box-tools pull-right">
									<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
								</div>
							</div>
							<!-- /.box-header -->
							<div class="box-body">
								<form name="userform" id="userform">
									<div class="row">
										<div class="col-lg-12">
											<div class="form-group">
												<label class="control-label">Subject</label>
												<input type="text" class="form-control" id="subject" autocomplete="off" maxlength="150" placeholder="Max of 150 characters"
													required/>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12">
											<div style="margin-bottom: 5px;">
												<label class="control-label">Description of Complaint</label>
												<textarea class="form-control" id="complaint" rows="10" maxlength="2000" required></textarea>
												<p>You have <span id="complaintcounter"></span> characters left.</p>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="form-group text-center">
											<button id='userformbtn' class="btn btn-success" type="submit">
													Submit
												</button>
										</div>
									</div>
								</form>
							</div>
							<div id="userformoverlay" hidden>
								<i class="fa fa-refresh fa-spin"></i>
							</div>
						</div>
					</section>
					<!-- Middle Col -->
					<section class="col-lg-7" id="video-section">
						<div class="box">
							<div class="box-header with-border">
								<i class="fa fa-video-camera"></i>
								<h3 class="box-title">Video</h3>
								<div class="box-tools pull-right">
									<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
										</button>
								</div>
							</div>

							<div class="box-body" id="fullscreen-element">
								<div id="webcam" hidden>
									<video id="remoteView" autoplay poster="images/acedirect-logo.png"></video>
									<video id="selfView" autoplay muted="true" hidden></video>
									<!--div id="transcriptoverlay" class="transcriptoverlay"></div-->
									<div id= "call-option-buttons">
										<div id= "inner">
											<!--button id="mute-captions" type="button" class="btn btn-gray" onclick="mute_captions()">
												<span class="fa-stack">
                                									<i id="mute-captions-icon" class="fa fa-cc fa-stack-1x"></i>
                                									<i id="mute-captions-off-icon" class="fa fa-ban fa-stack-2x text-danger" style="display:none;"></i>
                             									</span>
											</button-->
											<button  id="mute-audio" type = "button" class = "btn btn-gray" onclick = "mute_audio()"> <i id= "mute-audio-icon" class="call-btn-icon fa fa-microphone"></i> </button>
											<button  id="hide-video" type = "button" class = "btn btn-gray" onclick = "enable_video_privacy()">
											<span class="fa-stack">
											    <i class="fa fa-video-camera fa-stack-1x"></i>
											    <i id="mute-camera-off-icon" class="fa fa-ban fa-stack-2x text-danger" style="display:none;"></i>
                                                                                                </span>

												<!-- hack for hide video button since there's no fa-icon for it. we overlay an x and hide and show it when needed-->
											</button>
											<button type="button" class = "btn btn-gray" onclick = "enterFullscreen()"><i id= "fullscreen-icon" class="call-btn-icon fa fa-expand"></i> </button>
											<button id="end-call" type = "button" class = "btn btn-danger" onclick = "terminate_call()"> <i class="call-btn-icon fa fa-phone fa-rotate-135"></i> </button>
									</div>

								</div>
							</div>

	                            <div class = "row">
		                            <div class = "col-xs-12 text-center" id = "start-call-buttons" style="margin-top: 10px; margin-bottom: 10px;">
					                	<button class="btn btn-primary" id="callbutton" style = "width: 80px;" type="button">
											Call
										</button>
										<button class="btn btn-primary" id="videomailbutton" type="button">
											Videomail
										</button>
					                </div>
					            </div>
				                <div class = "col-xs-12 text-center" id = "agent-name-box" style="margin-bottom: 5px; margin-top: 5px;" hidden>
				                	<p> You are talking to CSR <strong id = "agent-name"> </strong>.</p>
				                </div>
				              	<div id="recordicon" hidden>&nbsp;&nbsp;
				              		<span id="recordicon" class="glyphicon glyphicon-facetime-video blink" style="color:#FF0000;" ></span>
				              		<label class="blink" style="color:#FF0000;" >&nbsp;&nbsp;RECORDING</label>
				                </div>
				                <div id="secsremain" style="display:inline;"></div>

				                <div class="alert alert-info" alert-dismissable id="vmwait" style="margin-top: 10px;" hidden>
				                	<a class="close" onclick="$('#vmwait').hide();" style="text-decoration:none">×</a>
				               		<strong>Videomail request sent.</strong> Please wait.
				             	</div>

				              	<div class="alert alert-success"  alert-dismissable id="vmsent" style="margin-top: 10px;" hidden>
				                	<a class="close" onclick="$('#vmsent').hide();" style="text-decoration:none">×</a>
				                	<strong>Success!</strong> Videomail sent.
				             	 </div>
							</div>
						</div>
					</section>
					<!-- Right Col -->
					<section class="col-lg-5" id="chat-section">
						<div class="box direct-chat direct-chat-primary">
							<div class="box-header with-border">
								<i class="fa fa-comments"></i>
								<h3 class="box-title">Agent Chat</h3>
								<div class="box-tools pull-right">
									<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
										</button>
								</div>
							</div>
							<div class="box-body">
								<!-- Conversations are loaded here -->
								<div class="direct-chat-messages" id="chat-messages"></div>
								<div class="direct-chat-timestamp text-bold" id="rtt-typing" style="margin-left: 10px; min-height: 20px"></div>
							</div>
							<div class="box-footer">
								<form name="chatsend" id="chatsend">
									<div class="input-group">
										<input type="hidden" id="displayname">
										<input type="text" id="newchatmessage" placeholder="Chat disabled" class="form-control" maxlength="500" autocomplete="off"
											required disabled>
											<span class="input-group-btn">
												<button  id="chat-send" class="btn btn-primary btn-flat" type="submit" disabled>Send</button>
											</span>
									</div>
								</form>
								<p hidden id="characters-left">You have <span id="chatcounter"></span> characters left.</p>
							</div>
						</div>
					</section>
				</div>
				<!-- /.row -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<% include ../partials/acedirect_footer %>

		<!-- Control Sidebar -->

		<!-- Add the sidebar's background. This div must be placed
			     immediately after the control sidebar -->
		<div class="control-sidebar-bg" style="width:400px; right:-400px"></div>

	</div>
	<!-- ./wrapper -->

	<!-- Glass Panel -->
	<div id='divGlassPanel' class='glass-panel' style='visibility:hidden'></div>

	<!-- License Modal -->
	<div class="modal fade" id="licModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					<h4 class="modal-title" id="licModalLabel">Copyright Notices</h4>
				</div>
				<div class="modal-body">
					<div id="licModalBody"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>



	<!--Call Ended Modal -->
	<div class="modal fade" id="callEndedModal" tabindex="-1" role="dialog" style="z-index: 2000;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body" style="text-align: center">
					<h1>CALL HAS ENDED</h1>
					<h4 id="redirectdesc"> Redirecting to FCC.gov ...</h4>
				</div>
				<div class="modal-footer">
					<p>If not redirected, <a id="redirecttag" href=""><span>CLICK HERE</span></a></p>
				</div>
			</div>
		</div>
	</div>

	<!--Zen Desk Outage Modal -->
	<div class="modal fade" id="ZenDeskOutageModal" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body" style="text-align: center">
					<h1>Ticketing System Outage</h1>
					<h4>The complaint ticketing system is currently experiencing an outage.<br>Please try again in a few minutes.</h4>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div>

  <!-- Videomail Modal -->
  <div id="videomailModal" class="modal fade">
      <div class="modal-dialog modal-sm">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h2 class="modal-title">Ready to record?</h2>
              </div>
              <div class="modal-body text-center">
                  <span class="glyphicon glyphicon-facetime-video" style="font-size: 100px;" ></span>
                  <p style="font-size: 18px;">Recording will begin when you click the Record button.</p>
              </div>
              <div class="modal-footer">
                  <div class = "btn-group" style="width: 100%;">
                      <button id="start-recording-btn" type ="button" onclick = "startRecordingVideomail(switchQueueFlag);" class ="btn btn-success btn-style" style="width: 50%; height: 50px;"> Record </button>
                      <button id="cancel-recording-btn" type ="button" onclick = "$('#videomailModal').modal('hide');" class ="btn btn-danger btn-style" style="width: 50%; height: 50px;"> Cancel </button>
                </div>
            </div>
          </div>
      </div>
  </div>

  <!-- After Hours Modal -->
  <div class="modal fade" id="afterHoursModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" style= "max-width: 500px;">
			<div class="modal-content">
				<div class = "modal-header text-center" style= "padding-top: 0; padding-bottom:0;">
					<h2>The FCC ASL Consumer Support Line is Closed.</h2>
				</div>
				<div class="modal-body text-center">
          <h4 >Hours of Operation: <span id="ah-start-time"></span> to <span id="ah-end-time"></span> Mondays-Fridays (excluding Federal holidays)<h4>
          <img src="/images/fccColor.png" class="user-image" alt="FCC">
				</div>
				<div style = "border-top: 1px solid #f4f4f4; padding: 10px;" class = "text-center">
				</div>
        <!-- This URL action should invoke DTMF Tone 1 -->
        <h3>&nbsp;To leave a videomail <a href="#" onclick="">click here</a>.</h3>
			</div>
		</div>
	</div>

  <!--In-Queue Modal -->
	<div class="modal fade" id="queueModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" style= "max-width: 500px;">
			<div class="modal-content">
				<div class = "modal-header text-center" style= "padding-top: 0; padding-bottom:0;">
					<h2>Waiting for the next available agent</h2>
				</div>
				<div class="modal-body text-center">
					<h4 id="queue-msg"> There are <span id="pos-in-queue">no</span> callers ahead of you. <h4> <!--note, only counting callers in complaints queue-->
					<button  id="exit-queue" type = "button" class = "btn btn-danger btn-lg" style="width:100px;" onclick = "exit_queue()"> Hangup </button>
				</div>
				<div class = "text-center" style = "border-top: 1px solid #f4f4f4; padding: 10px;">
			        <!-- This URL action should invoke DTMF Tone 1 -->
			        <h5>&nbsp;To exit the queue and leave a videomail <a href="#" onclick="switchQueueFlag=true;$('#queueModal').modal('hide');$('#videomailModal').modal('show');">click here</a>.</h5>
		  		</div>

			</div>
		</div>
	</div>


	 <!--Out of Extensions Modal -->
	<div class="modal fade" id="outOfExtensionsModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" style= "max-width: 500px;">
			<div class="modal-content">
				<div class = "modal-header text-center" style= "padding-top: 0; padding-bottom:0;">
					<h2>Servers under heavy traffic</h2>
				</div>
				<div class="modal-body text-center">
					<h4 id="queue-msg"> Automatically trying again in <span id="newExtensionRetryCounter">10 seconds</span>. <h4>
				</div>
				<div class = "text-center" style = "border-top: 1px solid #f4f4f4; padding: 10px;">
			        <!-- This URL action should invoke DTMF Tone 1 -->
			        <h5>&nbsp;10 second wait too long? <a href="#" onclick='extensionRetry()'>Click to try now</a>.</h5>
		  		</div>

			</div>
		</div>
	</div>


	<!-- phone-page -->

  <!-- Jssip hidden data -->
	<div hidden>
        <div id="my_sip_uri" > </div>
        <div id="ws_servers" > </div>
        <div id="sip_password" > </div>
        <div id="pc_config" > </div>
		</div>

	<!-- ==================Le javascript ================================ -->
	<!-- jQuery v2.1.4 -->
	<script type="text/javascript" src="/bower_components/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
	<!-- socket.io-client -->
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<!-- Bootstrap 3.3.5 -->
	<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<!-- Decode JWT tokens -->
	<script type="text/javascript" src="/bower_components/jwt-decode/build/jwt-decode.min.js"></script>
	<!-- timer.jquery 0.6.3 -->
	<script type="text/javascript" src='/bower_components/timer.jquery/dist/timer.jquery.min.js'></script>
	<!-- simply countable -->
	<script type="text/javascript" src='/bower_components/jquery-simply-countable/jquery.simplyCountable.js'></script>
	<!-- moment.js 2.15.1 -->
	<script type="text/javascript" src='/bower_components/moment/moment.js'></script>
	<!-- AdminLTE App -->
	<script type="text/javascript" src="/bower_components/AdminLTE/dist/js/app.min.js"></script>
	<!-- Jquery input mask -->
	<script type="text/javascript" src="/bower_components/AdminLTE/plugins/input-mask/jquery.inputmask.js"></script>
	<!--JSSIP-->
	<script type="text/javascript" src="/bower_components/jssip/dist/jssip.min.js"></script>
  <script>
  var complaintForm = true;
  var complaintRedirectActive = true;
  var complaintRedirectUrl = "http://www.fcc.gov";
  var complaintRedirectDesc = "FCC.gov";
  $("#redirecttag").attr("href", complaintRedirectUrl);
  $("#redirectdesc").text("Redirecting to " + complaintRedirectDesc + " ...");






  </script>
	<script type="text/javascript" src="/js/jssip_consumer.js"></script>
	<!-- Custom Javascript for ACEDirect complaint_form.html page -->
	<script type="text/javascript" src="/js/complaint_form.js"></script>
</body>

</html>
