<html>

<head>
	<meta charset="utf-8" />
	<title>FCC ASL Consumer Support</title>
	<link rel="stylesheet" href="/assets/css/adminlte.min.css">
	<link rel="stylesheet" href="/assets/css/bootstrap-toggle.css">
	<link rel="stylesheet" href="/assets/css/all.min.css">
	<link rel="stylesheet" href="/assets/css/inputmask.css">

	<link rel="stylesheet" href="/css/fcc.css">

</head>

<body>
	<div class="container-fluid">
		<div class="row pt-3">
			<div class="col align-self-center">
				<h3>FCC ASL Consumer Support </h3>
			</div>
		</div>
	</div>
	<div class="container" id="stagecontainer" hidden>
		<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
			<br />
			<div class="well">
				<div align="center"><label>How would you like to contact our support center?</label></div>
				<br />
				<div align="center">
					<button class="btn btn-lg btn-primary" type="button" onclick="emailcontainer()">Email</button>
					<button class="btn btn-lg btn-primary" type="button" onclick="phonecontainter()">Phone</button>
					<button class="btn btn-lg btn-primary" type="button" onclick="vrslogincontainter()">Video Call</button>
				</div>
			</div>

			<div class='row' align='left'>
				<dl class="dl-horizontal">
					<dt style='width:80px;'>Step 1:</dt>
					<dd style='margin-left:100px;'>Select the <b>Video Call</b> method for contacting a customer service representative using direct video.</dd>
					<dt style='width:80px;'>Step 2:</dt>
					<dd style='margin-left:100px;'>Enter your video phone number and click <b>Continue</b>.</dd>
					<dt style='width:80px;'>Step 3:</dt>
					<dd style='margin-left:100px;'>Fill out the form on the following page, submit your ticket, and select <b>CALL</b> to be placed in our queue.</dd>
				</dl>
                <br>
                <p style='font-style:italic'>You are entering an Official United States Government System, which may be used only for authorized purposes. The Government may monitor and audit usage of this system, and all persons are hereby notified that use of this system constitutes consent to such monitoring and auditing. Unauthorized attempts to upload or change information on this web site is prohibited.</p>
			</div>
		</div>
	</div>


	<div class="container" id="vrslogincontainer">
		<div class="row mt-4 mb-2">
			<div class="col-xl-6 offset-xl-3 col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-8 offset-sm-2 text-center">
				<div class="account-wall">
					<form class="form-login" id="form-login">
						<div class="alert alert-danger" id="message" hidden></div>
						<label>Please Enter your Videophone Number: </label>
						<div id="input-group" class="input-group mx-auto">
							<div class="input-group-prepend">
								<span class="input-group-text">
									<i class="fas fa-phone-alt"></i>
								</span>
							</div>
							<input type="text" class="form-control input-lg" id="vrs_number" placeholder="Videophone Number" data-inputmask="'mask': '(999) 999-9999'" data-mask required>
						</div>
				</div>
				<!-- <div align="center" class = "margin">
				</div> -->
				<div class="row">
					<div class="col align-self-center">
						<button class="btn btn-lg btn-primary" type="submit"> Continue </button>
					</div>
				</div>
				</form>
			</div>
		</div>
		<div class="row" style=" margin-top: 30px; font-style: italic;">
			<div class = "col-md-8 offset-md-2 col-sm-10 offset-sm-1">
    			<p>You are entering an Official United States Government System, which may be used only for authorized purposes. The Government may monitor and audit usage of this system, and all persons are hereby notified that use of this system constitutes consent to such monitoring and auditing. Unauthorized attempts to upload or change information on this web site is prohibited.</p>
    		</div>
    	</div>
	</div>


	<div class="container" id="phonecontainer" hidden>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
				<div align="center">place holder for phone number page</div>
			</div>
		</div>
	</div>

	<div class="container" id="emailcontainer" hidden>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
				<div align="center">place holder for email page</div>
			</div>
		</div>
	</div>

	<!-- jQuery v2.1.4 -->
	<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/js/popper.min.js"></script>
	<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="/assets/js/inputmask.min.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.inputmask.min.js"></script>

	<script type="text/javascript">
		$(window).on('load',function () {
			$("[data-mask]").inputmask();
			$('#form-login').submit(function (evt) {
				evt.preventDefault();

				var vrsnumber = $('#vrs_number').val().replace(/^1|[^\d]/g, '');
				$('#message').hide();
				$('#message').text('');
				$('#vrs_number').removeClass('is-invalid');
				if (vrsnumber.length === 10) {
					$.ajax({
						url: './consumer_login',
						data: {
							_csrf: "<%= csrfToken %>",
							vrsnumber: vrsnumber
						},
						type: 'POST',
						dataType: 'json',
						success: function (data) {
							//alert(JSON.stringify(data));
							if (data.message === "success") {
								//sessionStorage.accesstoken = data.token;
								window.location.reload();
							} else {
								$('#message').text(data.message + ' ' + $('#vrs_number').val());
								$('#message').removeAttr('hidden');
								$('#message').show();
								$('#vrs_number').val('');
							}
						},
						error: function (xhr, status, error) {
							//alert('Error');
							$('#message').text('An Error Occured.');
							$('#message').removeAttr('hidden');
							$('#message').show();
						}
					});
				} else {
					$('#vrs_number').addClass('is-invalid');
					$('#message').text('Invalid phone number format');
					$('#message').removeAttr('hidden');
					$('#message').show();
				}
			});
		});

		function vrslogincontainter() {
			$('#stagecontainer').slideUp();
			$('#vrslogincontainer').fadeIn('slow');
			$('#backtostage').show();
		}

		function emailcontainer() {
			$('#stagecontainer').slideUp();
			$('#emailcontainer').fadeIn('slow');
			$('#backtostage').show();
		}

		function phonecontainter() {
			$('#stagecontainer').slideUp();
			$('#phonecontainer').fadeIn('slow');
			$('#backtostage').show();
		}

		function choosecontactmethod() {
			$('#phonecontainer').hide();
			$('#emailcontainer').hide();
			$('#vrslogincontainer').hide();
			$('#backtostage').hide();
			$('#stagecontainer').slideDown();

		}
	</script>
</body>

</html>
