<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>FCC ASL Consumer Support</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


	<!-- <link rel="stylesheet" href="/assets/css/bootstrap.min.css"> -->

	<link rel="stylesheet" href="/assets/css/adminlte.min.css">
	<link rel="stylesheet" href="/assets/css/bootstrap-toggle.css">
	<link rel="stylesheet" href="/assets/css/all.min.css">
	<link rel="stylesheet" href="/assets/css/ionicons.min.css">
	<link rel="stylesheet" href="/assets/css/adminlte.min.css">
	<!-- Custom Portal stylesheet -->
	<link rel="stylesheet" href="/css/ca-portal.css">
	<link rel="stylesheet" href="/css/video-player.css">
	<script>
		var nginxPath = '<%= nginxPath %>';
	</script>
	<style>
		.blink {
			animation: blinker 1s linear infinite;
		}

		@keyframes blinker {
			50% {
				opacity: 0.0;
			}
		}
	</style>

</head>

<body class="hold-transition skin-blue-light layout-top-nav">

	<div class="wrapper">
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-12">
							<h1 class="m-0 text-dark">FCC ASL Consumer Support</h1>
						</div>
					</div>
				</div>
			</div>
			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<!-- Main Row -->
					<div class="row">
						<section class="col-lg-12">
							<div id="vrs-info-box" class="card" hidden>
								<div class="card-header">
									<h3 class="card-title">VRS Information</h3>&nbsp;<small>(<a href="/logout"
											id="notMyInfoLink">not my info</a>)</small>
									<div class="card-tools">
										<button class="btn btn-tool" data-card-widget="collapse">
											<i class="fa fa-minus"></i>
										</button>
									</div>
								</div>
								<!-- /.box-header -->
								<div class="card-body">
									<div class="row">
										<div class="col-lg-3">
											<div class="form-group">
												<label class="control-label">First Name</label>
												<div>
													<input type="text" class="form-control" id="firstName" name="fname"
														readonly />
												</div>
											</div>
										</div>
										<div class="col-lg-3">
											<div class="form-group">
												<label class="control-label">Last Name</label>
												<input type="text" class="form-control" id="lastName" readonly />
											</div>
										</div>
										<div class="col-lg-3">
											<div class="form-group">
												<label class="control-label">Phone</label>
												<div id="input-group" class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text">
															<i class="fas fa-phone-alt"></i>
														</span>
													</div>
													<input type="text" class="form-control" id="callerPhone"
														name="phone" data-inputmask="'mask': '(999) 999-9999'" data-mask
														readonly />
												</div>
											</div>
										</div>
										<div class="col-lg-3">
											<div class="form-group">
												<label class="control-label">Email</label>
												<div id="input-group" class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text">
															<i class="fa fa-envelope"></i>
														</span>
													</div>
													<input type="email" class="form-control" id="callerEmail"
														name="email" required readonly />
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
					<div class="row">
						<!-- Left Col -->
						<section class="col-lg-4" id="ticket-section" hidden>
							<div class="card">
								<div class="card-header">
									<h3 class="card-title">
										<i class="fa fa-exclamation-triangle"></i>
										Complaint Ticket&nbsp;<span id="ticketNumber"></span>
									</h3>
									<div class="card-tools pull-right">
										<button class="btn btn-tool" data-card-widget="collapse">
											<i class="fa fa-minus"></i>
										</button>
									</div>
								</div>
								<!-- /.box-header -->
								<div class="card-body">
									<form name="userform" id="userform">
										<div class="row">
											<div class="col-lg-12">
												<div class="form-group">
													<label class="control-label">Subject</label>
													<input type="text" class="form-control" id="subject"
														autocomplete="off" maxlength="150"
														placeholder="Max of 150 characters" required />
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-12">
												<div style="margin-bottom: 5px;">
													<label class="control-label">Description of Complaint</label>
													<textarea class="form-control" id="complaint" maxlength="2000"
														rows="10" maxlength="2000" required></textarea>
													<p>You have <span id="complaintcounter">2000</span> characters left.
													</p>
												</div>
											</div>
										</div>
										<div class="row justify-content-center">
											<div class="form-group text-center">
												<button id='userformbtn' class="btn btn-success" type="submit">
													Submit
												</button>
											</div>
										</div>
									</form>
								</div>
								<div id="userformoverlay" hidden>
									<i class="fa fa-refresh fa-spin"></i>
								</div>
							</div>
						</section>
						<!-- Middle Col -->
						<section class="col-lg-7" id="video-section">
							<div class="card">
								<div class="card-header">
									<h3 class="card-title">
										<i class="fa fa-video"></i>
										Video
									</h3>
									<div class="card-tools">
										<button type="button" class="btn btn-tool" data-card-widget="collapse">
											<i class="fa fa-minus"></i>
										</button>
									</div>
								</div>

								<div class="card-body" id="fullscreen-element">
									<div id="webcam" hidden>
										<video id="remoteView" autoplay poster="images/acedirect-logo.png"></video>
										<video id="selfView" class="mirror-mode" autoplay muted="true" hidden></video>
										<div id="transcriptoverlay" class="transcriptoverlay"></div>
										<!-- Caption code -->

										<div id="call-option-buttons">
											<div id="inner">

												<!-- Caption code -->
												<button id="mute-captions" type="button" class="btn btn-gray"
													onclick="mute_captions()">
													<span class="fa-stack">
														<i id="mute-captions-icon"
															class="far fa-closed-captioning fa-lg fa-stack-1x"></i>
														<i id="mute-captions-off-icon"
															class="fa fa-ban fa-stack-2x text-danger"
															style="display:none;"></i>
													</span>
												</button>

												<button id="mute-audio" type="button" class="btn btn-gray"
													onclick="mute_audio()"> <i id="mute-audio-icon"
														class="call-btn-icon fa fa-microphone"></i> </button>
												<button id="hide-video" type="button" class="btn btn-gray"
													onclick="enable_video_privacy()">
													<span class="fa-stack">
														<i class="fas fa-video fa-stack-1x"></i>
														<i id="mute-camera-off-icon"
															class="fa fa-ban fa-stack-2x text-danger"
															style="display:none;"></i>
													</span>
												</button>
												<!-- hack for hide video button since there's no fa-icon for it. we overlay an x and hide and show it when needed-->

												<button type="button" class="btn btn-gray"
													onclick="enterFullscreen()"><i id="fullscreen-icon"
														class="call-btn-icon fa fa-expand"></i>
												</button>
												<button id="end-call" type="button" class="btn btn-danger"
													onclick="terminate_call()"> <i
														class="call-btn-icon fa fa-phone fa-rotate-135"></i> </button>

											</div>

										</div>
									</div>

									<div class="row justify-content-center">
										<div class="col-xs-12 text-center" id="start-call-buttons"
											style="margin-top: 10px; margin-bottom: 10px;">
											<button class="btn btn-primary" id="callbutton" style="width: 80px;"
												type="button">
												Call
											</button>
											<button class="btn btn-primary" id="videomailbutton" type="button">
												Videomail
											</button>
										</div>
									</div>
									<div class="col-xs-12 text-center" id="agent-name-box"
										style="margin-bottom: 5px; margin-top: 5px;" hidden>
										<p> You are talking to CSR <strong id="agent-name"> </strong>.</p>
									</div>
									<div id="recordicon" hidden>&nbsp;&nbsp;
										<span id="recordicon" class="glyphicon glyphicon-facetime-video blink"
											style="color:#FF0000;"></span>
										<label class="blink" style="color:#FF0000;">&nbsp;&nbsp;RECORDING</label>
									</div>
									<div id="secsremain" style="display:inline;"></div>

                                                                        <div class="progress">
                                                                        <div class="progress-bar progress-bar-danger progress-bar-striped" id="record-progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="90" style="width:0%;background-color:red !important;" >
                                                                        </div>
                                                                        </div>

                                                                        <div id="vmwait_placeholder">
									<div class="alert alert-info" alert-dismissable id="vmwait"
										style="margin-top: 10px;" hidden>
										<a class="close" onclick="$('#vmwait').hide();"
											style="text-decoration:none">×</a>
										<strong>Videomail request sent.</strong> Please wait.
									</div>
                                                                        <div>

                                                                        <div id="vmsent_placeholder">
									<div class="alert alert-success" alert-dismissable id="vmsent"
										style="margin-top: 10px;" hidden>
										<a class="close" onclick="$('#vmsent').hide();"
											style="text-decoration:none">×</a>
										<strong>Success!</strong> Videomail sent.
									</div>
                                                                        </div>


								</div>
							</div>
						</section>
						<!-- Right Col -->
						<section class="col-lg-5" id="chat-section">
							<div class="card card-outline direct-chat direct-chat-primary">
								<div class="card-header" id="chat-header">
									<h3 class="card-title">
										<i class="fas fa-comment"></i>
										Messaging
										<!-- <small id="notickettxt" class="text-danger" hidden>(no ticket)</small> -->
									</h3>
									<div class="card-tools">
										<button type="button" class="btn btn-tool" data-card-widget="collapse">
											<i class="fa fa-minus"></i>
										</button>
									</div>
								</div>

								<div class="card-body">
									<ul class="nav nav-tabs" role="tablist">
										<li class="nav-item">
											<a href="#chat-body" class="nav-link active" data-toggle="pill" role="tab" aria-expanded="true" id="chat-tab">
												<i class="fa fa-comments"></i>
												Chat
											</a>
										</li>
										<li class="nav-item">
											<a href="#trans-body" class="nav-link" data-toggle="pill" role="tab" aria-expanded="false" id="trans-tab">
												<i class="fas fa-file-alt"></i>
												Transcript
											</a>
										</li>
									</ul>
									<div class="tab-content">
										<div class="tab-pane fade show active" id="chat-body" role="tabpanel" aria-labelledby="chat-tab">
											<div class="direct-chat-messages" id="chat-messages"></div>
											<div class="direct-chat-timestamp text-bold" id="rtt-typing"
												style="margin-left: 10px; min-height: 20px"></div>
										</div>
										<div class="tab-pane fade" id="trans-body" role="tabpanel" aria-labelledby="trans-tab">
											<div class="direct-chat-messages" id="caption-messages"></div>
										</div>
									</div>
								</div>

								<div id="chat-footer" class="card-footer">
									<form name="chatsend" id="chatsend">
										<div class="input-group">
											<input type="hidden" id="displayname">
											<input type="text" id="newchatmessage" placeholder="Chat disabled"
												class="form-control" maxlength="500" autocomplete="off" required
												disabled>
											<span class="input-group-btn">
												<button id="chat-send" class="btn btn-primary btn-flat" type="submit"
													disabled>Send</button>
											</span>
										</div>
									</form>
									<p hidden id="characters-left">You have <span id="chatcounter">500</span> characters
										left.</p>
								</div>

							</div>

							<div id="caption-settings" class="card direct-chat direct-chat-primary">
								<div class="card-header with-border">
									<h3 class="card-title">
										<i class="fa fa-comments"></i>
										Caption Settings
									</h3>

									<div class="card-tools pull-right">
										<button type="button" class="btn btn-tool" data-card-widget="collapse"><i
												class="fa fa-minus"></i>
										</button>
									</div>
								</div>
								<div class="card-body">

									<li class="cap-setting">
										<span>Enable Captions:</span>
										<div class="form-check">
											<input class="form-check-input position-static" type="checkbox"
												id="enable-captions" onclick="mute_captions()" checked>
										</div>
									</li>

									<li id="cap-font-size" class="cap-setting">
										<span>Font size:</span>
										<select id="font-select" class="font-select" type="select" name="font-select"
											onchange="changeCaption(this.value)">
											<option value="2.5">Default</option>
											<option value="1.5">Small</option>
											<option value="3">Large</option>
										</select>
									</li>

									<li id="cap-font-color" class="cap-setting">
										<span>Font color:</span>
										<div class="color-select-container">
											<div id="font-grey" class="color-select" onclick="changeCaption(this.id)">
											</div>
											<div id="font-black" class="color-select" onclick="changeCaption(this.id)">
											</div>
											<div id="font-white" class="color-select" onclick="changeCaption(this.id)">
											</div>
										</div>
									</li>

									<li id="cap-bg-color" class="cap-setting">
										<span>Background color:</span>
										<div class="color-select-container">
											<i id="bg-transparent" class="far fa-times-circle"></i>
											<div id="bg-grey" class="color-select" onclick="changeCaption(this.id)">
											</div>
											<div id="bg-black" class="color-select" onclick="changeCaption(this.id)">
											</div>
											<div id="bg-white" class="color-select" onclick="changeCaption(this.id)">
											</div>
										</div>
										<input type="range" min="0" max="1" step=.01 value="1"
											id="opacity-slider-consumer">
									</li>

								</div>
								<div class="card-footer text-center">
									<button class="btn btn-primary center-block mx-auto" type="button"
										onclick="testCaptions()">Preview</button>

								</div>
							</div>
						</section>

					</div>
				</div>
				<!-- /.row -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<% include ../partials/acedirect_footer %>

		<!-- Control Sidebar -->

		<!-- Add the sidebar's background. This div must be placed
			     immediately after the control sidebar -->
		<div class="control-sidebar-bg" style="width:400px; right:-400px"></div>

	</div>
	<!-- ./wrapper -->

	<!-- Glass Panel -->
	<div id='divGlassPanel' class='glass-panel' style='visibility:hidden'></div>

	<!-- License Modal -->
	<div class="modal fade" id="licModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="licModalLabel">Copyright Notices</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div id="licModalBody"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>



	<!--Call Ended Modal -->
	<div class="modal fade" id="callEndedModal" tabindex="-1" role="dialog" style="z-index: 2000;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body" style="text-align: center">
					<h2>CALL HAS ENDED</h2>
					<h4 id="redirectdesc"> Redirecting to FCC.gov ...</h4>
				</div>
				<div class="modal-footer">
					<p>If not redirected, <a id="redirecttag" href=""><span>CLICK HERE</span></a></p>
				</div>
			</div>
		</div>
	</div>

	<!--Zen Desk Outage Modal -->
	<div class="modal fade" id="ZenDeskOutageModal" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body" style="text-align: center">
					<h1>Ticketing System Outage</h1>
					<h4>The complaint ticketing system is currently experiencing an outage.<br>Please try again in a few
						minutes.</h4>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Videomail Modal -->
	<div id="videomailModal" class="modal fade">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Ready to record?</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body text-center">
					<span class="glyphicon glyphicon-facetime-video" style="font-size: 100px;"></span>
					<p style="font-size: 18px;">Recording will begin when you click the Record button.</p>
				</div>
				<div class="modal-footer">
					<div class="btn-group" style="width: 100%;">
						<button id="start-recording-btn" type="button"
							onclick="startRecordingVideomail(switchQueueFlag);" class="btn btn-success btn-style"
							style="width: 50%; height: 50px;"> Record </button>
						<button id="cancel-recording-btn" type="button" onclick="$('#videomailModal').modal('hide');"
							class="btn btn-danger btn-style" style="width: 50%; height: 50px;"> Cancel </button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- After Hours Modal -->
	<div class="modal fade" id="afterHoursModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" style="max-width: 500px;">
			<div class="modal-content">
				<div class="modal-header text-center" style="padding-top: 0; padding-bottom:0;">
					<h2>The FCC ASL Consumer Support Line is Closed.</h2>
				</div>
				<div class="modal-body text-center" style="display:none">
					<h4>Hours of Operation: <span id="ah-start-time"></span> to <span id="ah-end-time"></span>
						Mondays-Fridays (excluding Federal holidays)<h4>
							<img src="/images/fccColor.png" class="user-image" alt="FCC">
				</div>
				<div style="border-top: 1px solid #f4f4f4; padding: 10px;" class="text-center">
				</div>
				<!-- This URL action should invoke DTMF Tone 1 -->
				<h3>&nbsp;To leave a videomail <a href="#" onclick="">click here</a>.</h3>
			</div>
		</div>
	</div>

	<!--In-Queue Modal -->
	<div class="modal fade" id="queueModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" style="max-width: 500px;">
			<div class="modal-content">
				<div class="modal-header text-center">
					<h3 class="w-100">Waiting for the next available agent</h3>
				</div>
				<div class="modal-body text-center">
					<h4 id="queue-msg"> There are <span id="pos-in-queue">no</span> callers ahead of you. <h4>
							<!--note, only counting callers in complaints queue-->
							<button id="exit-queue" type="button" class="btn btn-danger btn-lg" style="width:100px;"
								onclick="exit_queue()"> Hangup </button>
				</div>
				<div class="text-center" style="border-top: 1px solid #f4f4f4; padding: 10px;">
                                        <h5><span style="color:red" id="agents-avail"></span></h5>
					<!-- This URL action should invoke DTMF Tone 1 -->
					<h5>&nbsp;To exit the queue and leave a videomail <a href="#"
							onclick="switchQueueFlag=true;$('#queueModal').modal('hide');$('#videomailModal').modal('show');">click
							here</a>.</h5>
				</div>

			</div>
		</div>
	</div>


	<!--Out of Extensions Modal -->
	<div class="modal fade" id="outOfExtensionsModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" style="max-width: 500px;">
			<div class="modal-content">
				<div class="modal-header text-center" style="padding-top: 0; padding-bottom:0;">
					<h2>Servers under heavy traffic</h2>
				</div>
				<div class="modal-body text-center">
					<h4 id="queue-msg"> Automatically trying again in <span id="newExtensionRetryCounter">10</span>
						seconds. <h4>
				</div>
				<div class="text-center" style="border-top: 1px solid #f4f4f4; padding: 10px;">
					<!-- This URL action should invoke DTMF Tone 1 -->
					<h5>&nbsp;10 second wait too long? <a href="#" onclick='extensionRetry()'>Click to try now</a>.</h5>
				</div>

			</div>
		</div>
	</div>


	<!-- phone-page -->

	<!-- Jssip hidden data -->
	<div hidden>
		<div id="my_sip_uri"> </div>
		<div id="ws_servers"> </div>
		<div id="sip_password"> </div>
		<div id="pc_config"> </div>
	</div>

	<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/assets/js/popper.min.js"></script>
	<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/js/jwt-decode.min.js"></script>
	<script type="text/javascript" src='/assets/js/moment.js'></script>
	<script type="text/javascript" src="/assets/js/adminlte.min.js"></script>
	<script type="text/javascript" src="/assets/js/inputmask.min.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.inputmask.min.js"></script>
	<script type="text/javascript" src="/assets/js/jssip.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/timer.jquery/0.9.0/timer.jquery.min.js"></script>
	<script>
		var complaintForm = true;
		var complaintRedirectActive = true;
		var complaintRedirectUrl = "http://www.fcc.gov";
		var complaintRedirectDesc = "FCC.gov";
		$("#redirecttag").attr("href", complaintRedirectUrl);
		$("#redirectdesc").text("Redirecting to " + complaintRedirectDesc + " ...");






	</script>
	<script type="text/javascript" src="/js/jssip_consumer.js"></script>
	<!-- Custom Javascript for ACEDirect complaint_form.html page -->
	<script type="text/javascript" src="/js/complaint_form.js"></script>
</body>

</html>
