<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Consumer Complaint Form</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

	<!-- Bootstrap 3.3.5 -->
	<link rel="stylesheet" href="./bower_components/AdminLTE/bootstrap/css/bootstrap.css">
	<!-- Bootstrap Toggle v2.2.0 -->
	<link rel="stylesheet" href="./bower_components/bootstrap-toggle/css/bootstrap-toggle.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="./bower_components/font-awesome/css/font-awesome.min.css">
	<!-- Ionicons -->
	<link rel="stylesheet" href="./bower_components/Ionicons/css/ionicons.min.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="./bower_components/AdminLTE/dist/css/AdminLTE.css">
	<!-- AdminLTE Skins  -->
	<link rel="stylesheet" href="./bower_components/AdminLTE/dist/css/skins/_all-skins.min.css">
	<!-- Custom Portal stylesheet -->
	<link rel="stylesheet" href="./css/ca-portal.css">

<style>
.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0.0; }
}  
</style>
	
</head>

<body class="hold-transition skin-blue-light layout-top-nav">

	<div class="wrapper">
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>Consumer Complaint Form</h1>

			</section>
			<!-- Main content -->
			<section class="content">
				<!-- Main Row -->
				<div class="row">
					<section class="col-lg-12">
						<div class="box">
							<div class="box-header with-border">
								<h3 class="box-title">VRS Information</h3>&nbsp;<small>(<a href="javascript:logout();">not my info</a>)</small>
								<div class="box-tools pull-right">
									<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
								</div>
							</div>
							<!-- /.box-header -->
							<div class="box-body">
								<div class="row">
									<div class="col-lg-3">
										<div class="form-group">
											<label class="control-label">First Name</label>
											<div>
												<input type="text" class="form-control" id="firstName" name="fname" readonly/>
											</div>
										</div>
									</div>
									<div class="col-lg-3">
										<div class="form-group">
											<label class="control-label">Last Name</label>
											<input type="text" class="form-control" id="lastName" readonly/>
										</div>
									</div>
									<div class="col-lg-3">
										<div class="form-group">
											<label class="control-label">Phone</label>
											<div id="input-group" class="input-group">
												<div class="input-group-addon">
													<i class="fa fa-phone"></i>
												</div>
												<input type="text" class="form-control" id="callerPhone" name="phone" data-inputmask="'mask': '(999) 999-9999'" data-mask
													readonly/>
											</div>
										</div>
									</div>
									<div class="col-lg-3">
										<div class="form-group">
											<label class="control-label">Email</label>
											<div id="input-group" class="input-group">
												<div class="input-group-addon">
													<i class="fa fa-envelope"></i>
												</div>
												<input type="email" class="form-control" id="callerEmail" name="email" required readonly/>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
				<div class="row">
					<!-- Left Col -->
					<section class="col-lg-4">
						<div class="box">
							<div class="box-header with-border">
								<i class="fa fa-exclamation-triangle"></i>
								<h3 class="box-title">Complaint Ticket: </h3>
								<span class="box-title" id="ticketNumber"></span>
								<div class="box-tools pull-right">
									<button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
								</div>
							</div>
							<!-- /.box-header -->
							<div class="box-body">
								<form name="userform" id="userform">
									<div class="row">
										<div class="col-lg-12">
											<div class="form-group">
												<label class="control-label">Subject</label>
												<input type="text" class="form-control" id="subject" autocomplete="off" maxlength="150" placeholder="Max of 150 characters"
													required/>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12">
											<div class="form-group">
												<label class="control-label">Description of Complaint</label>
												<textarea class="form-control" id="complaint" rows="10" maxlength="2000" required></textarea>
												<p>You have <span id="complaintcounter"></span> characters left.</p>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="form-group text-center">
											<button id='userformbtn' class="btn btn-success" type="submit">
													Submit
												</button>
											<button class="btn btn-primary" id="callbutton" type="button" disabled>
													Call
												</button>
											<button class="btn btn-primary" id="videomailbutton" type="button">
													Videomail
											</button>                        
										</div>
									</div>
								</form>
							</div>
							<div id="userformoverlay" hidden>
								<i class="fa fa-refresh fa-spin"></i>
							</div>
						</div>
					</section>
					<!-- Middle Col -->
					<section class="col-lg-5">
						<div class="box">
							<div class="box-header with-border">
								<i class="fa fa-video-camera"></i>
								<h3 class="box-title">Video</h3>
								<div class="box-tools pull-right">
									<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
										</button>
								</div>
							</div>
							<div class="box-body">
								<div id="webcam" hidden>
									<video id="remoteView" autoplay poster="images/AD-logo.png"></video>
									<video id="selfView" style="right: 10px;" autoplay muted="true" hidden></video>
								</div>
								<div id= "call-option-buttons">     
	                                <div id= "inner">     
	                                    <button  id="mute-audio" type = "button" class = "btn btn-gray" onclick = "mute_audio()"> <i id= "mute-audio-icon" class="call-btn-icon fa fa-microphone"></i> </button> 
	                                    <button  id="hide-video" type = "button" class = "btn btn-gray" onclick = "hide_video()"> <i class="call-btn-icon fa fa-video-camera"></i>  <div id= "hide-video-icon" class = "fa fa-close fa-close-style" style="display: none;"></div> <!-- hack for hide video button since there's no fa-icon for it. we overlay an x and hide and show it when needed--></button>  
	                                    <button id="end-call" type = "button" class = "btn btn-danger" onclick = "terminate_call()"> <i class="call-btn-icon fa fa-phone fa-rotate-135"></i> </button>   
	                                </div>  
	                            </div>   
							</div>

              <div class="progress">
                <div class="progress-bar progress-bar-danger progress-bar-striped" id="record-progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="90" style="width:0%" hidden>
                </div>
              </div>

              <div id="recordicon" style="display:inline;visibility:hidden;">&nbsp;&nbsp;<span id="recordicon" class="glyphicon glyphicon-facetime-video blink" style="color:#FF0000;" ></span><label class="blink" style="color:#FF0000;" >&nbsp;&nbsp;RECORDING</label></div>
              <div id="secsremain" style="display:inline;"></div>
              <div class="alert alert-success" id="vmsent" hidden><strong>Success!</strong> Videomail sent.</div>
              
						</div>
					</section>
					<!-- Right Col -->
					<section class="col-lg-3">
						<div class="box direct-chat direct-chat-primary">
							<div class="box-header with-border">
								<i class="fa fa-comments"></i>
								<h3 class="box-title">Agent Chat</h3>
								<div class="box-tools pull-right">
									<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
										</button>
								</div>
							</div>
							<div class="box-body">
								<!-- Conversations are loaded here -->
								<div class="direct-chat-messages" id="chat-messages"></div>
								<div class="direct-chat-timestamp text-bold" id="rtt-typing" style="margin-left: 10px; min-height: 20px"></div>
							</div>
							<div class="box-footer">
								<form name="chatsend" id="chatsend">
									<div class="input-group">
										<input type="hidden" id="displayname">
										<input type="text" id="newchatmessage" placeholder="Type Message ..." class="form-control" maxlength="500" autocomplete="off"
											required>
											<span class="input-group-btn">
												<button  class="btn btn-primary btn-flat" type="submit">Send</button>
											</span>
									</div>
								</form>
								<p>You have <span id="chatcounter"></span> characters left.</p>
							</div>
						</div>
					</section>
				</div>
				<!-- /.row -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<footer class="main-footer">
			<div class="pull-right hidden-xs">
				<b>Version</b> 1.0
			</div>
			<strong>Copyright &copy; 2016.</strong> All rights reserved.
		</footer>

		<!-- Control Sidebar -->

		<!-- Add the sidebar's background. This div must be placed
			     immediately after the control sidebar -->
		<div class="control-sidebar-bg" style="width:400px; right:-400px"></div>

	</div>
	<!-- ./wrapper -->

	<!-- Glass Panel -->
	<div id='divGlassPanel' class='glass-panel' style='visibility:hidden'></div>

	<!-- License Modal -->
	<div class="modal fade" id="licModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					<h4 class="modal-title" id="licModalLabel">Copyright Notices</h4>
				</div>
				<div class="modal-body">
					<div id="licModalBody"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>



	<!--Call Ended Modal -->
	<div class="modal fade" id="callEndedModal" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body" style="text-align: center">
					<h1>CALL HAS ENDED</h1>
					<h4> Redirecting to FCC.gov ...</h4>
				</div>
				<div class="modal-footer">
					<p>If not redirected, <a href="http://www.fcc.gov"><span>CLICK HERE</span></a></p>
				</div>
			</div>
		</div>
	</div>

	<!--Zen Desk Outage Modal -->
	<div class="modal fade" id="ZenDeskOutageModal" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body" style="text-align: center">
					<h1>Ticketing System Outage</h1>
					<h4>The complaint ticketing system is currently experiencing an outage.<br>Please try again in a few minutes.</h4>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
				</div>
			</div>
		</div>
	</div>
	<!-- phone-page -->

  <!-- Jssip hidden data -->						
	<div hidden>
        <div id="my_sip_uri" > </div>	
        <div id="ws_servers" > </div>	
        <div id="sip_password" > </div>		
        <div id="pc_config" > </div>
		</div>

	<!-- ==================Le javascript ================================ -->
	<!-- jQuery v2.1.4 -->
	<script type="text/javascript" src="./bower_components/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
	<!-- socket.io-client -->
	<script type="text/javascript" src="./socket.io/socket.io.js"></script>
	<!-- Bootstrap 3.3.5 -->
	<script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<!-- Decode JWT tokens -->
	<script type="text/javascript" src="./bower_components/jwt-decode/build/jwt-decode.min.js"></script>
	<!-- timer.jquery 0.6.3 -->
	<script type="text/javascript" src='./bower_components/timer.jquery/dist/timer.jquery.min.js'></script>
	<!-- simply countable -->
	<script type="text/javascript" src='./bower_components/jquery-simply-countable/jquery.simplyCountable.js'></script>
	<!-- moment.js 2.15.1 -->
	<script type="text/javascript" src='./bower_components/moment/moment.js'></script>
	<!-- AdminLTE App -->
	<script type="text/javascript" src="./bower_components/AdminLTE/dist/js/app.min.js"></script>
	<!-- Jquery input mask -->
	<script type="text/javascript" src="./bower_components/AdminLTE/plugins/input-mask/jquery.inputmask.js"></script>
	<!--JSSIP-->
	<script type="text/javascript" src="./bower_components/jssip/dist/jssip.min.js"></script>	
	<script type="text/javascript" src="./js/myJssip.js"></script>
	<!-- Custom Javascript for ACEDirect complaint_form.html page-->
	<script type="text/javascript" src="./js/complaint_form.js"></script>
</body>

</html>